#arrow {
	margin-top: 6rem;
	border: 1px solid #fff;
	border-radius: 50%;
}

#arrow:hover {
	cursor: pointer;
	color: #485fc7;
	background-color: #fff;
	transition: 0.3s ease;
}

#toolkit {
	list-style: none;
}

.social-media:hover {
	color: #30449c;
	transition: 0.4s ease;
}

/* Bulma */

.navbar-item {
	letter-spacing: 1px;
}

.equal-column-height {
	min-height: 250px;
}

.card-equal-height {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.card-equal-height-content {
	flex: auto;
}
